.disabled-block {
  opacity: 0.5;
  pointer-events: none;
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  border-bottom: 2px solid #2196f3;
  user-select: none;
}
.tab {
  cursor: pointer;
  flex: 1;
  margin-top: 1px;
}
.tab-box {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  color: #000;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
}

.tab.active {
  z-index: 40;
  position: relative;
  padding-bottom: 1px;
}
.tab.active .tab-box {
  // background-color: #4472c4 !important;
  // color: #000;
  background-color: #203864 !important;
  color: #fff;
  box-shadow: 0 0 2px 0 #fff inset;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 0px 40px;
}

.navigation-arrow {
  font-size: 1.7rem;
  font-weight: bold;
  width: 15px;
  height: 100%;
  cursor: pointer;
  &.fa-angle-right {
    margin-left: 5px;
  }
  &.fa-angle-left {
    margin-right: 5px;
  }
}

.financial-dashboard-content {
  background-color: #fff;
  padding: 10px 10px 50px 10px;
}

label.title-name {
  color: #4472c4;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}

.margin-right-5 {
  margin-right: 5px;
}
