<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row chart-row">
        <div class="col-md-6">
            <div class="title">Five Year Projection</div>
            <div class="dixon-card">
                <canvas id="lineChart" height="140"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="title">Profit</div>
            <div class="dixon-card">
                <div class="form-group row" style="height: 140px;">
                    <label class="col-md-12 col-form-label">Equipment Budget: $100,000</label>
                    <label class="col-md-12 col-form-label">Annual Equipment Fees: $50,000 </label>
                    <label class="col-md-12 col-form-label">Annual Revenue: $75,000 </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row chart-row">
        <div class="col-md-4">
            <div class="title">Revenue</div>
            <div class="dixon-card">
                <canvas id="pieChart" height="140"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="title">Equipment</div>
            <div class="dixon-card">
                <canvas id="pieChart1" height="140"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="title">Ongoing Fees</div>
            <div class="dixon-card">
                <canvas id="pieChart2" height="140"></canvas>
            </div>
        </div>
    </div>
</div>