<div id="reset-password-card" class="text-center loginscreen  animated fadeInDown">
    <card-loader *ngIf="isShowResetPasswordLoader"></card-loader>
    <form autocomplete="off" class="m-t" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
        <div class="form-group">
            <input formControlName="newPassword" autocomplete="disabled" type="password" class="form-control"
                placeholder="New Password" required>
        </div>
        <div class="form-group">
            <input formControlName="confirmPassword" autocomplete="disabled" type="password" class="form-control"
                placeholder="Confirm Password" required>
        </div>
        <button [disabled]="isShowResetPasswordLoader" type="submit" class="btn btn-primary block full-width m-b">
            Reset Password
        </button>
    </form>
</div>