<div class="row border-bottom">
  <nav class="navbar navbar-static-top dixon-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a id="side-menu-toggle-btn" (click)="toggleNavigation()" class="minimalize-styl-2 btn btn-primary">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li (click)="onLogOut()">
        <a>
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </li>
    </ul>

  </nav>
</div>